; Heyday Editor Config
; See http://editorconfig.org for more information on this file
root = true

; All files
[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
trim_trailing_white_space_on_save = true
insert_final_newline = true

; YAML
[*.yml]
indent_style = space
indent_size = 2

; JavaScript
[*.js]
indent_style = tab
indent_size = 2

; JSON
[*.json]
indent_style = space
indent_size = 2

; CSS
[*.css,*.less,*.scss,*.htc]
indent_style = tab

; HTML
[*.html,*.ss,*.hbs]
indent_style = tab

; PHP
[*.php]
indent_style = space
indent_size = 4

; Python
[*.py]
indent_style = space
indent_size = 4

; Java
[*.java]
indent_style = tab
indent_size = 4

; Ruby
[*.rb]
indent_style = space
indent_size = 2

; C variants
[*.h,*.hh,*.m,*.c,*.cc,*.cpp,*.cs,*.cxx]
indent_style = space
indent_size = 4

; Shell scripts
[*.sh,*.bash]
indent_style = tab
indent_size = 4

; Make
[Makefile]
indent_style = tab
